dist: xenial
branches:
  only:
    master
install:
  - docker build -t paranuara-challenge-solution -f DOCKER .
script:
  - docker run -it --entrypoint /paranuara/api/test.sh paranuara-challenge-solution